/Library/ShaderCache/0/*.bin
/Library/ShaderCache/1/*.bin
/Library/ShaderCache/2/*.bin
/Library/ShaderCache/3/*.bin
/Library/ShaderCache/4/*.bin
/Library/ShaderCache/5/*.bin
/Library/ShaderCache/6/*.bin
/Library/ShaderCache/7/*.bin
/Library/ShaderCache/8/*.bin
/Library/ShaderCache/9/*.bin
/Library/ShaderCache/a/*.bin
/Library/ShaderCache/b/*.bin
/Library/ShaderCache/c/*.bin
/Library/ShaderCache/d/*.bin
/Library/ShaderCache/e/*.bin
/Library/ShaderCache/f/*.bin
/Library/metadata/5a/*
/Library/metadata/5a/*.info
/Library/metadata/ac/*
/Library/metadata/ac/*.info
/Temp/*
/obj/Debug/*.txt
/obj/Debug/*.force
