/Library/ShaderCache/0/*.bin
/Library/ShaderCache/1/*.bin
/Library/ShaderCache/2/*.bin
/Library/ShaderCache/3/*.bin
/Library/ShaderCache/4/*.bin
/Library/ShaderCache/5/*.bin
/Library/ShaderCache/6/*.bin
/Library/ShaderCache/7/*.bin
/Library/ShaderCache/8/*.bin
/Library/ShaderCache/9/*.bin
/Library/ShaderCache/a/*.bin
/Library/ShaderCache/b/*.bin
/Library/ShaderCache/c/*.bin
/Library/ShaderCache/d/*.bin
/Library/ShaderCache/e/*.bin
/Library/ShaderCache/f/*.bin
/Library/metadata/5a/*
/Library/metadata/5a/*.info
/Library/metadata/ac/*
/Library/metadata/ac/*.info
/Temp/*
/obj/Debug/*.txt
/obj/Debug/*.force
/Assets/UnityVS/Editor/*.meta
/Library/*.asset
/Library/ScriptAssemblies/*.mdb
/Library/ScriptAssemblies/*.stamp
/Library/UnityAssemblies/*.txt
/Library/*
/Library/metadata/00/*
/Library/metadata/01/*
/Library/metadata/05/*
/Library/metadata/05/*.info
/Library/metadata/06/*.info
/Library/metadata/0a/*
/Library/metadata/0d/*
/Library/metadata/0e/*
/Library/metadata/10/*
/Library/metadata/10/*.info
/Library/metadata/14/*
/Library/metadata/17/*.info
/Library/metadata/18/*
/Library/metadata/21/*.info
/Library/metadata/23/*.info
/Library/metadata/25/*
/Library/metadata/26/*.info
/Library/metadata/27/*
/Library/metadata/2b/*
/Library/metadata/39/*
/Library/metadata/43/*
/Library/metadata/45/*
/Library/metadata/48/*
/Library/metadata/53/*
/Library/metadata/56/*
/Library/metadata/57/*
/Library/metadata/5d/*.info
/Library/metadata/5d/*
/Library/metadata/62/*
/Library/metadata/64/*
/Library/metadata/67/*
/Library/metadata/68/*
/Library/metadata/6f/*
/Library/metadata/6f/*.info
/Library/metadata/70/*
/Library/metadata/76/*
/Library/metadata/78/*
/Library/metadata/80/*
/Library/metadata/85/*
/Library/metadata/87/*
/Library/metadata/8b/*
/Library/metadata/8c/*
/Library/metadata/95/*
/Library/metadata/96/*
/Library/metadata/98/*
/Library/metadata/9a/*
/Library/metadata/9c/*
/Library/metadata/9c/*.info
/Library/metadata/a3/*.info
/Library/metadata/a9/*
/Library/metadata/b0/*
/Library/metadata/b2/*
/Library/metadata/b3/*
/Library/metadata/b5/*
/Library/metadata/b6/*
/Library/metadata/ba/*
/Library/metadata/bb/*
/Library/metadata/be/*
/Library/metadata/bf/*
/Library/metadata/c0/*
/Library/metadata/c1/*
/Library/metadata/c1/*.info
/Library/metadata/c5/*
/Library/metadata/c9/*.info
/Library/metadata/cd/*
/Library/metadata/ce/*
/Library/metadata/d3/*
/Library/metadata/d8/*
/Library/metadata/da/*
/Library/metadata/e2/*
/Library/metadata/e5/*
/Library/metadata/e9/*
/Library/metadata/f1/*
/Library/metadata/f4/*
/Library/metadata/f5/*
/Library/metadata/f6/*
/Library/metadata/f7/*
/Library/metadata/f9/*
/ProjectSettings/*.asset
/*.csproj
/viewer_Data/Managed/*.mdb
/viewer_Data/Mono/etc/mono/1.0/*.aspx
/viewer_Data/Mono/etc/mono/1.0/*.config
/viewer_Data/Mono/etc/mono/2.0/Browsers/*.browser
/viewer_Data/Mono/etc/mono/2.0/*.aspx
/viewer_Data/Mono/etc/mono/2.0/*.config
/viewer_Data/Mono/etc/mono/2.0/*.map
/viewer_Data/Mono/etc/mono/*.ini
/viewer_Data/Mono/etc/mono/*
/viewer_Data/Mono/etc/mono/mconfig/*.xml
/viewer_Data/*
/viewer_Data/Resources/*
/viewer_Data/*.txt
/viewer_Data/*.assets
